/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --inter-font: "Inter", sans-serif;
  --grotesk-font: "Space Grotesk", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --transparent-clr: transparent;
  --white-clr: #fff;
  --primary-text-clr: #232323;
  /* --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919; */
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* ============= common css end here ================ */
/* ================= navbar css start here ============== */
nav {
  padding: 23px 0;
  background-color: #394792;
}
.nav_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.nav_menu_wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 60px;
  justify-content: start;
}
.nav_menu_wrapper ul {
  display: contents;
}
.nav_link {
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: normal;
  letter-spacing: -0.81px;
}
.brand_logo {
  justify-self: center;
  width: 131px;
  height: 32px;
}
.brand_logo img {
  width: 100%;
  height: 100%;
}
.nav_btn_wrapper {
  justify-self: end;
}
.nav_btn {
  padding: 16px 40px;
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: -0.81px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border: 1px solid var(--transparent-clr);
}
.nav_btn:hover {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
/* ================= navbar css end here ============== */

/* ============== section start here ============== */
/* ============== section start here ============== */
