/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --inter-font: "Inter", sans-serif;
  --grotesk-font: "Space Grotesk", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --transparent-clr: transparent;
  --white-clr: #fff;
  --primary-text-clr: #232323;
  /* --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919; */
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* ============= common css end here ================ */
/* ================= navbar css start here ============== */
nav {
  padding: 23px 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.nav_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.nav_menu_wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 60px;
  justify-content: start;
}
.nav_menu_wrapper ul {
  display: contents;
}
.nav_link {
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: normal;
  letter-spacing: -0.81px;
  position: relative;
}
.nav_link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: var(--white-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover::after {
  width: 105%;
}
.brand_logo {
  justify-self: center;
  width: 131px;
  height: 32px;
}
.brand_logo img {
  width: 100%;
  height: 100%;
}
.nav_btn_wrapper {
  justify-self: end;
}
.nav_btn {
  padding: 16px 40px;
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: -0.81px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.nav_btn:hover {
  background-color: var(--white-clr);
  color: #394792;
}
.nav_btn:first-child {
  border: none;
}
/* ================= navbar css end here ============== */

/* ============== banner section start here ============== */
#banner {
  padding: 210px 0 134px;
  background: linear-gradient(112deg, #394792 -0.65%, #070f39 107.76%);
  position: relative;
}

.banner_section_wrapper {
  display: grid;
  grid-template-columns: 670px 530px;
}
.banner_heading {
  max-width: 670px;
  color: var(--white-clr);
  font-family: var(--grotesk-font);
  font-size: 64px;
  font-weight: var(--medium-weight);
  line-height: 120%;
  letter-spacing: -3.2px;
  margin-bottom: 32px;
  position: relative;
}
.banner_shape_1 {
  position: absolute;
  right: 8px;
  bottom: -12px;
}
.banner_shape_2 {
  position: absolute;
  right: -140px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner_details {
  max-width: 560px;
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
  opacity: 0.8;
  margin-bottom: 40px;
}
.banner_btn_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 24px;
  margin-bottom: 60px;
}
.banner_btn {
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.81px;
  padding: 18px 32px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.banner_btn:hover {
  background-color: var(--white-clr);
  color: #394792;
}
.banner_counter_item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 80px;
}
.banner_counter_item {
  max-width: 90px;
  position: relative;
}
.banner_counter_item::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height: 62.5px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.16);
}
.banner_counter_item:last-child::after {
  display: none;
}
.banner_counter_item h3 {
  color: var(--white-clr);
  font-family: var(--grotesk-font);
  font-size: 32px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 8px;
}
.banner_counter_item h4 {
  color: var(--white-clr);
  opacity: 0.8;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 150%;
  letter-spacing: -0.54px;
}
.banner_image_wrapper {
  position: relative;
}
.banner_image_group {
  width: 603px;
  height: 350px;
  position: absolute;
  left: 0;
  bottom: -48px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  z-index: 11;
}
.banner_image_group img {
  width: 100%;
  height: 100%;
}
.banner_bg_image {
  width: 460px;
  height: 668px;
  border-radius: 30px 0px 0px 0px;
  background: #d9d9d9;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ============== banner section end here ============== */

/* ============== management section start here ============== */
#management {
  padding: 100px 0;
}
.management_section_heading {
  color: var(--primary-text-clr);
  text-align: center;
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -2.4px;
  position: relative;
  margin-bottom: 64px;
}
.management_heading_shape {
  position: absolute;
  right: 295px;
  top: 40px;
}
.management_item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 32px;
}
.management_item {
  max-width: 379px;
}
.management_item_image {
  width: 100%;
  height: 378px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-bottom: 24px;
}
.management_item h3 {
  color: var(--primary-text-clr);
  font-family: var(--grotesk-font);
  font-size: 24px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -1.2px;
  margin-bottom: 16px;
}
.management_item p {
  color: #757575;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.9px;
}
/* ============== management section end here ============== */

/* ============== difference section start here ============== */
#difference {
  padding: 100px 0 90px;
}
.difference_section_wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 117px;
}

.difference_section_heading {
  color: var(--primary-text-clr);
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -2.4px;
  margin-bottom: 24px;
  position: relative;
}
.difference_heading_shape {
  position: absolute;
  right: 25px;
  top: 40px;
}
.difference_section_details {
  color: var(--primary-text-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
  margin-bottom: 32px;
}
.difference_list_wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 24px;
}
.difference_list_wrapper li {
  width: 100%;
  padding: 23px 23px 23px 76px;
  color: #000;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
  border-radius: 16px;
  border: 1px solid rgba(35, 35, 35, 0.16);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
}
.difference_list_wrapper li span {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: #ffe8bb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: inline-block;
  color: #f84c02;
  font-size: 20px;
  text-align: center;
  line-height: 44px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.difference_list_wrapper li:nth-child(2) span {
  background-color: #c2ffd0;
  color: #05b857;
}
.difference_list_wrapper li:nth-child(3) span {
  background-color: #cbf3ff;
  color: #155cb5;
}
/* ============== difference section end here ============== */

/* ============== newsletter section start here ============== */
#newsletter {
  padding: 100px 0 130px;
  background-color: #f9faff;
}
.newsletter_heading_wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: end;
  margin-bottom: 64px;
}
.newsletter_section_heading {
  color: var(--primary-text-clr);
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -2.4px;
  margin-bottom: 32px;
  display: inline-block;
  position: relative;
}
.newsletter_heading_shape {
  position: absolute;
  right: 138px;
  top: 36px;
}
.newsletter_section_details {
  width: 558px;
  color: var(--primary-text-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
}
.newsletter_arrows_wrapper {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px;
}
.newsletter_arrow_next {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(50, 90, 151, 0.1);
  font-size: 22px;
  text-align: center;
  line-height: 72px;
  color: #757575;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.newsletter_arrow_next:hover {
  background-color: rgba(50, 90, 151);
  color: var(--white-clr);
}
.newsletter_item_wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px;
}
.newsletter_item {
  padding: 48px;
  background-color: var(--white-clr);
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.newsletter_item_review {
  color: #000;
  font-family: var(--inter-font);
  font-size: 24px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: -1.08px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px;
  align-items: center;
  justify-content: start;
}
.newsletter_item_review span {
  font-size: 16px;
  color: #ffc236;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 8px;
}
.newsletter_feedback_details {
  color: #757575;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
  margin-bottom: 24px;
  display: inline-block;
}
.newsletter_user_wrapper {
  margin-top: 24px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.newsletter_user_wrapper::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgba(35, 35, 35, 0.16);
  width: 100%;
  left: 0;
  top: -24px;
}
.newsletter_user_image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #d9d9d9;
  overflow: hidden;
  object-fit: cover;
}
.newsletter_user_name {
  color: var(--primary-text-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
}
.newsletter_user_location {
  color: #757575;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
}
/* ============== newsletter section end here ============== */

/* ============== section start here ============== */
#package {
  padding: 100px 0;
}
.package_section_heading {
  color: var(--primary-text-clr);
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -2.4px;
  text-align: center;
  margin-bottom: 32px;
}
.package_section_details {
  color: var(--primary-text-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
  text-align: center;
  margin-bottom: 64px;
}
.package_item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 32px;
}
.package_item {
  padding: 32px;
  width: 379px;
  border-radius: 32px;
  border: 1px solid rgba(35, 35, 35, 0.16);
  background: var(--white-clr);
  cursor: pointer;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_item_name {
  display: inline-block;
  padding: 6px 24px 6px 68px;
  border-radius: 30px;
  border: 1px solid rgba(35, 35, 35, 0.16);
  color: var(--primary-text-clr);
  font-family: var(--grotesk-font);
  font-size: 32px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -1.6px;
  position: relative;
  margin-bottom: 28px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_item_name i {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 28px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.package_item_price {
  color: var(--primary-text-clr);
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -2.4px;
  margin-bottom: 16px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_item_price span {
  color: #757575;
  font-family: var(--inter-font);
  font-size: 24px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -1.2px;
  margin-left: 6px;
}
.package_item_plan {
  color: #757575;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 140%;
  letter-spacing: -0.9px;
  margin-bottom: 40px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_item_list_wrapper {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 16px;
  margin-bottom: 32px;
}
.package_item_list_wrapper li {
  color: var(--primary-text-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 140%;
  letter-spacing: -0.9px;
  padding-left: 40px;
  position: relative;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_item_list_wrapper li i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #155cb5;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_item_btn {
  width: 100%;
  text-align: center;
  padding: 16px;
  border-radius: 100px;
  background: #325b97;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -0.9px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_item:first-child .package_item_list_wrapper li:nth-child(4) {
  color: #8e8e8e;
}
.package_item:first-child .package_item_list_wrapper li:nth-child(5) {
  color: #8e8e8e;
}
.package_item:first-child .package_item_list_wrapper li:nth-child(4) i {
  color: #8e8e8e;
}
.package_item:first-child .package_item_list_wrapper li:nth-child(5) i {
  color: #8e8e8e;
}
.package_item:hover {
  background-color: #325b97;
}
.package_item:hover .package_item_name {
  color: var(--white-clr);
  border: 1px solid rgba(255, 255, 255, 0.16);
}
.package_item:hover .package_item_price,
.package_item:hover .package_item_list_wrapper li,
.package_item:hover .package_item_list_wrapper li i {
  color: var(--white-clr);
}
.package_item:hover .package_item_price span,
.package_item:hover .package_item_plan {
  color: var(--white-clr);
  opacity: 0.5;
}
.package_item:hover .package_item_btn {
  background-color: var(--white-clr);
  color: #325b97;
}

/* ============== managing section end here ============== */
#managing {
  padding: 100px 0;
}
.managing_content_wrapper {
  padding: 100px 64px 104px;
  border-radius: 32px;
  background: linear-gradient(112deg, #394792 -0.65%, #070f39 107.76%);
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  position: relative;
  overflow: hidden;
}
.managing_section_heading {
  position: relative;
  max-width: 457px;
  color: var(--white-clr);
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -2.4px;
  margin-bottom: 24px;
}
.managing_heading_shape {
  position: absolute;
  right: 165px;
  bottom: -90px;
}
.managing_btn {
  padding: 18px 32px;
  border-radius: 30px;
  background: var(--white-clr);
  color: #394792;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: -0.81px;
  border: 1px solid var(--white-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.managing_btn:hover {
  background-color: var(--transparent-clr);
  color: var(--white-clr);
}
.managing_corner_shape {
  width: 592px;
  height: 320px;
  border-radius: 30px 0px 0px 0px;
  background: #d9d9d9;
  -webkit-border-radius: 30px 0px 0px 0px;
  -moz-border-radius: 30px 0px 0px 0px;
  -ms-border-radius: 30px 0px 0px 0px;
  -o-border-radius: 30px 0px 0px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ============== managing section start here ============== */
/* ============== section end here ============== */

/* ============== section start here ============== */
/* ============== section end here ============== */
