/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --inter-font: "Inter", sans-serif;
  --grotesk-font: "Space Grotesk", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --transparent-clr: transparent;
  --white-clr: #fff;
  --primary-text-clr: #232323;
  /* --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919; */
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* ============= common css end here ================ */
/* ================= navbar css start here ============== */
nav {
  padding: 23px 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.nav_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.nav_menu_wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 60px;
  justify-content: start;
}
.nav_menu_wrapper ul {
  display: contents;
}
.nav_link {
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: normal;
  letter-spacing: -0.81px;
}
.brand_logo {
  justify-self: center;
  width: 131px;
  height: 32px;
}
.brand_logo img {
  width: 100%;
  height: 100%;
}
.nav_btn_wrapper {
  justify-self: end;
}
.nav_btn {
  padding: 16px 40px;
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: -0.81px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.nav_btn:hover {
  background-color: var(--white-clr);
  color: #394792;
}
.nav_btn:first-child {
  border: none;
}
/* ================= navbar css end here ============== */

/* ============== banner section start here ============== */
#banner {
  padding: 210px 0 134px;
  background: linear-gradient(112deg, #394792 -0.65%, #070f39 107.76%);
  position: relative;
}

.banner_section_wrapper {
  display: grid;
  grid-template-columns: 670px 530px;
}
.banner_heading {
  max-width: 670px;
  color: var(--white-clr);
  font-family: var(--grotesk-font);
  font-size: 64px;
  font-weight: var(--medium-weight);
  line-height: 120%;
  letter-spacing: -3.2px;
  margin-bottom: 32px;
  position: relative;
}
.banner_shape_1 {
  position: absolute;
  right: 8px;
  bottom: -12px;
}
.banner_shape_2 {
  position: absolute;
  right: -140px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner_details {
  max-width: 560px;
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.81px;
  opacity: 0.8;
  margin-bottom: 40px;
}
.banner_btn_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 24px;
  margin-bottom: 60px;
}
.banner_btn {
  color: var(--white-clr);
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.81px;
  padding: 18px 32px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.banner_btn:hover {
  background-color: var(--white-clr);
  color: #394792;
}
.banner_counter_item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 80px;
}
.banner_counter_item {
  max-width: 90px;
  position: relative;
}
.banner_counter_item::after {
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height: 62.5px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.16);
}
.banner_counter_item:last-child::after {
  display: none;
}
.banner_counter_item h3 {
  color: var(--white-clr);
  font-family: var(--grotesk-font);
  font-size: 32px;
  font-weight: var(--medium-weight);
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 8px;
}
.banner_counter_item h4 {
  color: var(--white-clr);
  opacity: 0.8;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 150%;
  letter-spacing: -0.54px;
}
.banner_image_wrapper {
  position: relative;
}
.banner_image_group {
  width: 603px;
  height: 350px;
  position: absolute;
  left: 0;
  bottom: -48px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  z-index: 11;
}
.banner_image_group img {
  width: 100%;
  height: 100%;
}
.banner_bg_image {
  width: 460px;
  height: 668px;
  border-radius: 30px 0px 0px 0px;
  background: #d9d9d9;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ============== banner section end here ============== */

/* ============== management section start here ============== */
#management {
  padding: 100px 0;
}
.management_section_heading {
  color: var(--primary-text-clr);
  text-align: center;
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -2.4px;
  position: relative;
  margin-bottom: 64px;
}
.management_heading_shape {
  position: absolute;
  right: 295px;
  top: 40px;
}
.management_item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 32px;
}
.management_item {
  max-width: 379px;
}
.management_item_image {
  width: 100%;
  height: 378px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-bottom: 24px;
}
.management_item h3 {
  color: var(--primary-text-clr);
  font-family: var(--grotesk-font);
  font-size: 24px;
  font-weight: var(--medium-weight);
  line-height: 140%;
  letter-spacing: -1.2px;
  margin-bottom: 16px;
}
.management_item p {
  color: #757575;
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: 170%;
  letter-spacing: -0.9px;
}
/* ============== management section end here ============== */

/* ============== section start here ============== */
/* ============== section end here ============== */

/* ============== section start here ============== */
/* ============== section end here ============== */

/* ============== section start here ============== */
/* ============== section end here ============== */

/* ============== section start here ============== */
/* ============== section end here ============== */
